<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Delete
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Delete</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor="let photo of photoService.photos; let i = index">
      <ion-label>{{ photo.title || 'Bez názvu' }}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="photo.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="deleteSelected()">Smazat vybrané</ion-button>


</ion-content>
